.phandau{color:tomato;background-color:#B3D8A8;
      text-align:center;padding:20px;}
      
      .thucdonthucdon{background-color:#FFEDFA;}
      
      .thucdon a {color:#FBF8EF;}
      
      .thucdon a {color:#FDFAF6} 
      .noidung { color:#FDFAF6;}
